.content {
    max-width: 500px;
    margin: auto;
}

.record {
    display: flex;
    justify-content: center;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: center;
    background: radial-gradient(circle, rgba(29, 29, 29, 1) 38%, rgba(46, 46, 46, 1) 40%, rgba(29, 29, 29, 1) 42%, rgba(46, 46, 46, 1) 44%, rgba(29, 29, 29, 1) 46%, rgba(46, 46, 46, 1) 48%, rgba(29, 29, 29, 1) 50%, rgba(46, 46, 46, 1) 51%, rgba(29, 29, 29, 1) 53%, rgba(46, 46, 46, 1) 55%, rgba(29, 29, 29, 1) 57%, rgba(46, 46, 46, 1) 59%, rgba(29, 29, 29, 1) 61%, rgba(46, 46, 46, 1) 63%, rgba(29, 29, 29, 1) 65%, rgba(46, 46, 46, 1) 66%, rgba(29, 29, 29, 1) 68%, rgba(46, 46, 46, 1) 70%, rgba(29, 29, 29, 1) 72%);
    height: 200px;
    width: 200px;
    border-radius: 120px;
}

.center {
    position: relative;
    height: 5px;
    width: 5px;
    left: 63px;
    bottom: 63px;
    background: black;
    border: 35px ridge rgba(170, 50, 220, .6);
    border-radius: 120px;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.arm {
    position: relative;
    left: 180px;
    width: 6px;
    height: 120px;
    border-radius: 2px;
    border-bottom: 10px solid orange;
    background: black;
}